{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block content %}
    <div class="container">
        <!--Nawigacja-->
        <div class="navigate">
            <span><a href="{% url 'home' %}">MyForum - Forums</a> >> <a href="{{post.categories.all.0.get_url}}">{{post.categories.all.0}}</a> >> <a href="{{post.get_url}}">{{post.title}}</a></span>
        </div>

        <div class="topic-container">
            <div class="head">
                <div class="authors">Autor</div>
                <div class="content">Temat: {{post.title}} (Wyświetlone {% get_hit_count for post %} razy)</div>
            </div>

            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{post.user.fullname|title}}</a></div>
                    
                    <div>Postów: <u>{{post.user.num_posts}}</u></div>
                    <div>Punktów: <u>{{post.user.points}}</u></div>
                </div>
                <div class="content">
                    {{post.content|safe}}
                </div> 
            </div>
        </div>

        <!--Wpisywanie komentarza-->
        {% if post.closed == True %}
        <div style="background-color:#ffff; color:black; font-weight:bold; padding:20px; width:100%;">Ten temat jest zamknięty</div>
        {% else %}

        {% if request.user.is_superuser %}
        <div style="background-color:#ffff; color:black; font-weight:bold; padding:20px; width:100%;">Musisz się <a href="{% url 'signin' %}"><b>zalogować</b></a> na zwykłe konto!</div>
        {% elif request.user.is_authenticated %}
        <form action="." method="post">
            {% csrf_token %}
            <div class="comment-area hide" id="comment-area">
                <textarea name="comment" id="" placeholder="Komentarz wpisz tutaj ... "></textarea>
                <input type="submit" value="Zatwierdź" name="comment-form">
            </div>
        </form>
        {% else %}
        <div style="background-color:#ffff; color:black; font-weight:bold; padding:20px; width:100%;">Musisz się <a href="{% url 'signin' %}"><b>zalogować</b></a> abyś mógł dodawać komentarze</div>

        {% endif %}


        {% endif %}
        <!--Komentarze-->

        {% for comment in post.comments.all %}
        <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{comment.user.fullname|title}}</a></div>
                    
                    <img src="{{comment.user.profile_pic.url}}" alt="">
                    <div>Posts: <u>{{comment.user.num_posts}}</u></div>
                    <div>Points: <u>{{comment.user.points}}</u></div>
                </div>
                <div class="content">
                    {{comment.content}}
                    <br>
                </div>
            </div>
        </div>

        <!--Wpisywanie odpowiedzi-->
        {% if request.user.is_authenticated%}
        {% if not request.user.is_superuser %}
        <form action = "." method = "post">
            {% csrf_token %} 
            <div class="comment-area hide" id="comment{{comment.id}}">
                <textarea name="reply" id="" placeholder="Odpowiedź wpisz tutaj ... "></textarea>
                <input type="submit" value="Zatwierdź" name = "reply-form">
                <input type="hidden" name="comment-id" value="{{comment.id}}">
            </div>
        </form>
        {% endif %}
        {% endif %}
        <!--Odpowiedzi-->
        {% for reply in comment.replies.all %}
        <div class="comments-container" style="width: 95%; margin-left:5%;">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{reply.user.fullname|title}}</a></div>
                    
                    <img src="{{reply.user.profile_pic.url}}" alt="">
                    <div>Posts: <u>{{reply.user.num_posts}}</u></div>
                    <div>Points: <u>{{reply.user.points}}</u></div>
                </div>
                <div class="content">
                    {{reply.content}}
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    <div class="forum-info">
        <div class="chart">
            Forum GIS - Statystyki &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>{{num_posts}}</u> Postów w <u>{{num_categories}}</u> Kategoriach przez <u>{{num_users}}</u> Użytkowników.</span><br>
        <span>Ostatni post: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> on {{last_post.date|date}} wykonany przez <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
        <span>Sprawdź <a href="{% url 'latest_posts' %}">ostatni post</a> .</span><br>
    </div>
{% endblock content %}
