{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="subforum">
            <div class="subforum-title">
                <h1>Główne informacje</h1>
            </div>

            {%for forum in forums%}
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                    <p>Opis zawartości: {{forum.description}}</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>{{forum.num_posts}} posty</span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="{{forum.last_post.get_url}}">Ostatni post</a></b> przez <a href="">{{forum.last_post.user.fullname|title}}</a> 
                    <br>w dniu <small>{{forum.last_post.date|date}}</small>
                </div>
            </div>
            {% endfor %}


        </div>
        
    </div>
    <!-- Informacje -->
    <div class="forum-info">
        <div class="chart">
            Forum GIS - Statystyki &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>{{num_posts}}</u> Postów w <u>{{num_categories}}</u> Kategoriach przez <u>{{num_users}}</u> Użytkowników.</span><br>
        <span>Ostatni post: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> on {{last_post.date|date}} wykonany przez <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
        <span>Sprawdź <a href="{% url 'latest_posts' %}">ostatni post</a> .</span><br>
    </div>
    {% endblock content %}
    <script src="{% static 'main.js' %}"></script>
</body>
</html>