{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum GIS</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!--Menu-->
        <div class="navbar">
            <nav class="navigation hide">
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'home' %}">Forum</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}">Wyloguj</a></li>
                    <li class="nav-item"><a href="{% url 'create_post' %}">Dodaj wpis</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'signup' %}">Zarejestruj</a></li>
                    <li class="nav-item"><a href="{% url 'signin' %}">Zaloguj</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="brand">Forum GIS
            <br>
            <img src="{% static 'ziemia.png' %}" alt="ziemia"width="300" height="300">
        </div>
        <!--Wyszukiwanie-->
        <div class="search-box">
            <div>
                <select name="" id="">
                    <option value="Everything">Wszystko</option>
                    <option value="Titles">Tytuły</option>
                    <option value="Descriptions">Opisy</option>
                </select>
                <input type="text" name="q" placeholder="search ...">
                <button><i class="fa fa-search"></i></button>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="subforum">
            <div class="subforum-title">
                <h1>Główne informacje</h1>
            </div>

            {%for forum in forums%}
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                    <p>Opis zawartości: {{forum.description}}</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>{{forum.num_posts}} posty</span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="{{forum.last_post.get_url}}">Ostatni post</a></b> przez <a href="">{{forum.last_post.user.fullname|title}}</a> 
                    <br>w dniu <small>{{forum.last_post.date|date}}</small>
                </div>
            </div>
            {% endfor %}


        </div>
        
    </div>
    <!-- Informacje -->
    <div class="forum-info">
        <div class="chart">
            Forum GIS - Statystyki &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>5,369</u> Postów w <u>48</u> Tematach przez <u>8,124</u> Użytkowników.</span><br>
        <span>Ostatni post: <b><a href="">Losowy post</a></b> w dniu 10 Styczeń 2022 przez <a href="">Użytkownika</a></span>.<br>
        <span>Sprawdź <a href="">ostatni post</a> .</span><br>
    </div>

    <script src="{% static 'main.js' %}"></script>
</body>
</html>