{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}
    <div class="container">
        <!--Nawigacja-->
        <div class="navigate">
            <span>Ostatnie 10 postów</span>
        </div>
        <!--Wyświetlanie ostatniego posta-->
        <div class="posts-table">
            <div class="table-head">
                <div class="status">Status</div>
                <div class="subjects">Temat</div>
                <div class="replies">Komentarze/Kliknięcia</div>
                <div class="last-reply">Ostatny komentarz</div>
            </div>

            {% for post in posts %}
            <div class="table-row">
                {% if  post.closed == True %}
                <div class = "status"><i class="fa fa-key"></i></div>
                {% elif post.num_comments == 0%}
                <div class = "status"><i class="fa fa-frown-o"></i></div>
                {% elif post.num_comments > 0 and post.num_comments < 2%}
                <div class = "status"><i class="fa fa-meh-o"></i></div>
                {% elif post.num_comments > 2 and post.num_comments < 4%}
                <div class = "status"><i class="fa fa-smile-o"></i></div>
                {% elif post.num_comments >= 4%}
                <div class = "status"><i class="fa fa-line-chart"></i></div>
                
                {% endif %}
                <div class="subjects">
                    <a href="{{post.get_url}}">{{post.title}}</a>
                    <br>
                    <span>Rozpoczęte przez <b>{{post.user.fullname|title}}</b> .</span>
                </div>
                <div class="replies">
                    {{post.num_comments}} komentarzy <br> {% get_hit_count for post %} kliknięć
                </div>

                <div class="last-reply">
                    {{post.last_reply.date|date}}
                    <br>Przez <b>{{post.last_reply.user.fullname|title}}</b>
                </div>
            </div>
            {% endfor %}

            
            
        </div>

    {% endblock content %}