{% extends 'base.html' %}
{% load hitcount_tags %}
{% load static %}
{% block content%}

    <div class="container">
        <!--Nawigacja-->
        <div class="navigate">
            <span><a href="{% url 'home'%}">Moje Forum</a> >> <a href="{{forum.get_url}}">{{forum.title}}</a></span>
        </div>
        <div class="posts-table">
            <div class="table-head">
                <div class="status">Status</div>
                <div class="subjects">Tematy</div>
                <div class="replies">Opdowiedzi/Wyświetlenia</div>
                <div class="last-reply">Ostatnia odpowiedź</div>
            </div>

            {% for post in posts%}
            <div class="table-row">

                {% if  post.closed == True %}
                <div class = "status"><i class="fa fa-key"></i></div>
                {% elif post.num_comments == 0%}
                <div class = "status"><i class="fa fa-frown-o"></i></div>
                {% elif post.num_comments > 0 and post.num_comments < 2%}
                <div class = "status"><i class="fa fa-meh-o"></i></div>
                {% elif post.num_comments > 2 and post.num_comments < 4%}
                <div class = "status"><i class="fa fa-smile-o"></i></div>
                {% elif post.num_comments >= 4%}
                <div class = "status"><i class="fa fa-line-chart"></i></div>
                
                {% endif %}
                
                
                
                




                <div class="subjects">
                    <a href="{{post.get_url}}">{{post.title}}</a>
                    <br>
                    <span>Rozpoczęty przez <b><a href="#">{{post.user.fullname|title}}</a></b></span>
                </div>

                <div class="replies">
                    {{post.num_comments}} Komentarzy <br> {%get_hit_count for post%} Wyświetleń
                </div>

                <div class="last-reply">
                    {{post.last_reply.date|date}}
                    <br>Przez <b><a href="#">{{post.last_reply.user.fullname|title}}</a></b>
                </div>
            </div>
            {% endfor %}

            
        </div>
        <!--podział na strony-->
        <div class="pagination">
            Strony: {% for num_page in posts.paginator.page_range %} <a href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
        </div>
        <!--Legenda dotycząca statusu-->
        <div class="note">
            <span><i class="fa fa-frown-o"></i>&nbsp; 0 Zainteresowanie<br></span>
            <span><i class="fa fa-meh-o"></i>&nbsp; Małe zainteresowanie<br></span>
            <span><i class="fa fa-line-chart"></i>&nbsp; Popularny temat<br></span>
            <span><i class="fa fa-smile-o"></i>&nbsp; Wysokie zainteresowanie<br></span>
            <span><i class="fa fa-key"></i>&nbsp; Temat zamknięty</span>
        </div>
    </div>

    <div class="forum-info">
        <div class="chart">
            Forum GIS - Statystyki &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>{{num_posts}}</u> Postów w <u>{{num_categories}}</u> Kategoriach przez <u>{{num_users}}</u> Użytkowników.</span><br>
        <span>Ostatni post: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> on {{last_post.date|date}} wykonany przez <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
        <span>Sprawdź <a href="{% url 'latest_posts' %}">ostatni post</a> .</span><br>
    </div>
    {% endblock content %}
